<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lesson3apiv2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05f4f4c3-6492-4918-9cfa-dd733428d878/resourceGroups/binariks-azure-course/providers/Microsoft.Web/sites/Lesson3APIV2</ResourceId>
    <UserName>$Lesson3APIV2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://lesson3apiv2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>